<form #userForm="ngForm">

    <div class="form-group">
        <label for="name">Name: </label>
        <input type="text" class="form-control" name="Name" [(ngModel)]="name" required>
    </div>

    <br>

    <div class="form-group">
        <label for="sellIn">Sell In: </label>
        <input type="text" class="form-control" name="sellIn" [(ngModel)]="sellIn" required>
    </div>

    <br>

    <div class="form-group">
        <label for="quality">Quality:</label>
        <input type="text" class="form-control" name="quality" [(ngModel)]="quality" required>
    </div>


    <br>

    <section>
        <div class="example-label"></div>
        <div class="example-button-row">
            <button mat-button (click)='addItem()'>Add Item</button>
        </div>
    </section>

    <br>

</form>
<router-outlet></router-outlet>