section {
    display: table;
  }
  
  .example-label {
    display: table-cell;
    font-size: 14px;
    /* margin-left: 15px; */
    min-width: 80px;
  }
  
  .example-button-row {
    display: table-cell;
    width: 490px;
  }
  